<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Crud App</title>
    </head>
    <body>

      <form method="POST" action="/posts">
        <input type="user" name="user" placeholder="Username">
        <input type="text" name="text" placeholder="Add your post here">
        <input type="submit" value="New Post">
      </form>

    </body>
</html>
